html, body, #app {
	height: 100%;
}

body {
	background-color: #000;
}

/* Visualization Canvas */

.visualization {
	min-height: 100%;
	margin-bottom: -42px; /* height of footer */
}

#spectrum {
	width: 100%;
}

/* Slideout panels */

.slideout-panel-tab {
	position: fixed;
	top: 40px;
	background: #FFFFFF;
	padding: 12px;
	text-align: left;
}

.slideout-panel-title {
	margin: 0;
	line-height: 50px;
	height: 100%;
	padding: 0 0 0 20px;
}

.slideout-panel-close {
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	height: 100%;
	width: 60px;
	text-align: center;
	line-height: 50px;
}

.slideout-panel {
	visibility: hidden;
	transition: visibility 0s 0.6s;
}

.slideout-panel.is-visible {
	visibility: visible;
	transition: visibility 0s 0s;
}

.slideout-panel-header {
	background: #161616;
	color: #D0D0D0;
	position: fixed;
	top: -50px;
	width: 100%;
	height: 50px;
	transition: top 0.3s 0s;
}
.from-left .slideout-panel-header {
	left:0;
}
.is-visible .slideout-panel-header {
	top: 0;
	transition: top 0.3s 0.3s;
}

.slideout-panel-container {
	position: fixed;
	width: 32%;
	height: initial;
	top: 0;
	right: 0;

	transition-property: transform;
	transition-duration: 0.3s;
	transition-delay: 0.3s;

	transform: translate3d(100%, 0, 0);
}

.from-left .slideout-panel-container {
	left: 0;
	transform: translate3d(-100%, 0, 0);
}

.is-visible .slideout-panel-container {
	transform: translate3d(0, 0, 0);
	transition-delay: 0s;
}

.slideout-panel-content {
	padding-top: 50px;
	background: #222;
}

#playlist {
	margin: 0;
	padding: 0;
	min-height: 240px;
	color: #D0D0D0;
	max-height: 470px;
	overflow-y: scroll;
}

/* Temporary centering */
.empty-playlist {
	text-align: center;
	padding: 120px 0;
	line-height: 240px;
}

li.track {
	padding: 0 32px;
	list-style: none;
	min-height: 42px;
	background: #282828;
	color: #E2E2E2;
	line-height: 42px;
	font-size: 12px;
}

li.playing {
	background: #363636;
}


/* Footer */

#playbar {
	height: 42px;
	background: #222;
}