body {
	background-color: #999;
}

#playlist {
	margin: 0;
	padding: 0;
	min-height: 240px;
}

/* Temporary centering */
.empty-playlist {
	text-align: center;
	padding: 120px 0;
}

li.track {
	padding: 0 32px;
	list-style: none;
	min-height: 42px;
	background: #222;
	color: #E2E2E2;
	line-height: 42px;
}

li.playing {
	background: #383838;
}

#playbar {
	background: #222;
}