<!DOCTYPE html>
<html>
	<head>
		<title>Web Audio Player</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<section id="app"></section>

		<script type="text/template" id="app_template">
			<div class="visualization">
				<canvas id="spectrum" width="512" height="240">
					Looks like your browser does not support HTML5 <code>&lt;canvas&rt;</code>. You should upgrade your browser!
				</canvas>
			</div>

			
			<div id="file-drop" class="slideout-panel from-left">
			</div>

			<div id="audio-control" class="slideout-panel">
				<div class="slideout-panel-container">
					<header class="slideout-panel-header">
						<h3 class="slideout-panel-title">
							Audio Controls
						</h3>
						<a class="slideout-panel-close">
							Close
						</a>
					</header>
					<div class="slideout-panel-content">
						<select name="Filter Type" id="filter-type">
							<option value="lowpass">Low pass</option>
							<option value="highpass">High pass</option>
							<option value="bandpass">Bandpass</option>
							<option value="lowshelf">Low Shelf</option>
							<option value="highshelf">High Shelf</option>
							<option value="peaking">Peaking</option>
							<option value="notch">Notch</option>
							<option value="allpass">Allpass</option>
						</select>
						<label>LP Filter Cutoff: <input id="filter-cutoff" type="range" min="0" max="1" value="1" step=".01"/></label>
					</div>
				</div>
			</div>

			<footer id="playbar">
				<div class="container">
					<input type="button" id="left-panel-ctl" value="File Drop"/>
					<input type="button" id="right-panel-ctl" value="Audio Controls"/>

					<label>Volume: <input id="volume" type="range" min="0" max="1" step="0.01" value="1"/></label>
				</div>
			</footer>
		</script>
		<script type="text/template" id="tracklist_template">
			<div class="slideout-panel-container">
				<header class="slideout-panel-header">
					<h3 class="slideout-panel-title">
						File Queue
					</h3>
					<a class="slideout-panel-close">
						Close
					</a>
				</header>
				<div class="slideout-panel-content">
					<ul id="playlist" class="empty-playlist">
						Drop audio files here
					</ul>
				</div>
			</div>
		</script>
		<script type="text/template" id="track_queue_template">
			<%= title %>
			<%= length %>
			<a class=
				<%= playing ? "\"stop\"" : "\"play\"" %>>
				<%= playing ? "Stop" : "Play" %>
			</a>
			<a class="remove">Remove</a>
		</script>
		<script type="text/template" id="spectrum_template">
			<canvas id="spectrum" width="512" height="240">
				Looks like your browser does not support HTML5 <code>&lt;canvas&rt;</code>. You should upgrade your browser!
			</canvas>
		</script>

		<script src="https://code.jquery.com/jquery-2.1.2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

		<script src="js/models/track.js"></script>
		<script src="js/models/spectrum.js"></script>
		<script src="js/collections/tracklist.js"></script>
		<script src="js/views/track.js"></script>
		<script src="js/views/tracklist.js"></script>
		<script src="js/views/app.js"></script>
		<script src="js/views/spectrum.js"></script>

		<script src="js/audio.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>