<!DOCTYPE html>
<html>
	<head>
		<title>Web Audio Player</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<section id="app"></section>

		<script type="text/template" id="app_template">
			<div class="container">
				<canvas id="canvas" width="512" height="240" style="display: none">
					Looks like your brwoser does not support HTML5 <code>&lt;canvas&rt;</code>. You should update your browser!
				</canvas>
				<ul id="playlist" class="empty-playlist">
					Drop files here
				</ul>
				<aside style="display: none">
					<select name="Filter Type" id="filter-type">
						<option value="0">Low pass</option>
						<option value="1">High pass</option>
						<option value="2">Bandpass</option>
						<option value="3">Low Shelf</option>
						<option value="4">High Shelf</option>
						<option value="5">Peaking</option>
						<option value="6">Notch</option>
						<option value="7">Allpass</option>
					</select>
					<label>LP Filter Cutoff: <input id="filter-cutoff" type="range" min="0" max="1" value="1" step=".01"/></label>
				</aside>
			</div>
			<footer id="playbar">
				<div class="container">
					<input type="button" value="Prev" onclick="prevTrack()"/>
					<input type="button" value="Play/Pause" onclick="playback()"/>
					<input type="button" value="Next" onclick="nextTrack()"/>
					<label>Volume: <input id="volume" type="range" min="0" max="1" step="0.01" value="1"/></label>
				</div>
			</footer>
		</script>
		<script type="text/template" id="track_template">
			<%= title %>
			<%= type %>
			<%= size %>
			Playing <%= playing %>
			<a class="remove">Remove</a>
		</script>

		<script src="https://code.jquery.com/jquery-2.1.2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

		<script src="js/models/track.js"></script>
		<script src="js/collections/tracklist.js"></script>
		<script src="js/views/track.js"></script>
		<script src="js/views/app.js"></script>
		<script src="js/audio.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>